body {
    font-family: 'Girassol', cursive;
}
div.header {
  text-align: center;
  width: 100%;
  background-color: yellowgreen;
}
div.tablebuttons {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.btn {
  padding-right: 5px;
  color: blue;
}
.tableheader {
  text-align: center;
}
/* NOTE: cltr f5 ---> reloads css file */
