body {
    font-family: 'Girassol', cursive;
}
div.header {
  text-align: center;
  width: 100%;
  background-color: yellowgreen;
}
div.tablebuttons {
  padding-left: 20px;
}
div.part1 .part2{
  align-items: center;
}
