{% extends 'foodpandauth/base.html' %}
{% load static %}
{% block content %}
    <div class="header">
      <h1>ADMIN PAGE</h1>
    </div>
    <div class="tablebuttons">
        <a role="button" href="{% url 'persons' %}" class="btn">PERSON</a>
        <a role="button" href="{% url 'locations' %}" class="btn">LOCATIONS</a>
        <a role="button" href="{% url 'restaurant' %}" class="btn">RESTAURANT</a>
        <a role="button" href="{% url 'food' %}" class="btn">FOOD</a>
        <a role="button" href="{% url 'orders' %}" class="btn">ORDER</a>
        <a role="button" href="{% url 'promos' %}" class="btn">PROMO</a>
        <a role="button" href="{% url 'payments' %}" class="btn">PAYMENT</a>
        <a role="button" href="{% url 'offers' %}" class="btn">OFFER</a>
        <a role="button" href="{% url 'reviews' %}" class="btn">REVIEW</a>
        <a role="button" href="{% url 'customer_promo' %}" class="btn">PERSON PROMO</a>
        <a role="button" href="{% url 'orderd_items' %}" class="btn">ORDERED ITEMS</a>
        <a role="button" href="{% url 'menu' %}" class="btn">MENU</a>

    </div>
    <div class="container">
      <br>
      {% block dbcontent %}{% endblock %}
    </div>
{% endblock %}
