{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "foodpanda/custom.css" now "U" %}">

    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static "foodpanda/logo.png" %}">

    <title>FOODPANDA</title>
  </head>
  <body>
    <div class="header">
      <h1>FOODOANDA DATABASE</h1>
    </div>
    <div class="tablebuttons">
        <a role="button" href="{% url 'persons' %}" class="btn">PERSONS</a>
        <a role="button" href="{% url 'customers' %}" class="btn">CUSTOMERS</a>
        <a role="button" href="{% url 'delivery' %}" class="btn">DELIVERY MAN</a>
        <a role="button" href="{% url 'locations' %}" class="btn">LOCATIONS</a>
        <a role="button" href="{% url 'restaurant' %}" class="btn">RESTAURANT</a>
        <a role="button" href="{% url 'food' %}" class="btn">FOOD</a>
        <a role="button" href="{% url 'orders' %}" class="btn">ORDER</a>
        <a role="button" href="{% url 'promos' %}" class="btn">PROMO</a>
        <a role="button" href="{% url 'payments' %}" class="btn">PAYMENT</a>
        <a role="button" href="{% url 'offers' %}" class="btn">OFFER</a>
        <a role="button" href="{% url 'reviews' %}" class="btn">REVIEW</a>
        <a role="button" href="{% url 'customer_promo' %}" class="btn">PERSON PROMO</a>
        <a role="button" href="{% url 'orderd_items' %}" class="btn">ORDERED ITEMS</a>
        <a role="button" href="{% url 'menu' %}" class="btn">MENU</a>

    </div>
    <div class="container">
      <br>
      {% block content %}{% endblock %}
    </div>
  </body>
  </html>
