{% extends 'foodpanda/base.html' %}
{% load static %}
{% block dbcontent %}
<div class="tableheader">
  <h1>PROMOS</h1>
</div>
<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th> CODE </th>
        <th>DISCPUNT PCT</th>
        <th>START TIME</th>
        <th>END TIME</th>
        <th>STATUS</th>
    </tr>
    {% for promo in customer_promo %}
       <tr>
           <td>{{promo.code}}</td>
           <td>{{promo.discount_pct }}</td>
           <td>{{promo.start }}</td>
           <td>{{promo.end }}</td>
           <td>{{promo.status}}</td>
       </tr>
    {% endfor %}
    <tr id="new-row-person-promo">
    </tr>
    <tr>
      <td><button type="button" class="btn btn-success" onclick="addRowPersonPromo({{person.id}})">Add</button></td>
    </tr>

</table>
{% endblock %}

{% block pagescript %}
{% load static %}
<script src="{% static 'foodpanda/js/personpromo.js' %}"></script>
{% endblock %}
