{% extends 'foodpanda/base.html' %}
{% block dbcontent %}
<div class="tableheader">
  <h1>FOODS FOR {{food_res_id.name}}</h1>
</div>
<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th>NAME</th>
        <th>CUISINE</th>
        <th>PRICE</th>
        <th>AVAILABILITY</th>
        <th>IMAGE</th>
        <th>OFFER PRICE</th>
    </tr>
    {% for food in foods %}
       <tr>
           <td class="editable" data-id="{{ food.id }}" data-type="name">{{food.name}}</td>
           <td class="editable" data-id="{{ food.id }}" data-type="cuisine">{{food.cuisine }}</td>
           <td class="editable" data-id="{{ food.id }}" data-type="price">{{food.price }}</td>
           <td class="editable" data-id="{{ food.id }}" data-type="avl">{{food.availability }}</td>
           <td class="editable" data-id="{{ food.id }}" data-type="img"><img src="{{food.image }}" alt="pic not inserted" width="100px" height="100px"></td>
           <td class="editable">{{food.offer_price}}</td>
       </tr>
    {% endfor %}
    <tr id="new-row-food">
    </tr>
    <tr>
      <td><button type="button" class="btn btn-success" onclick="addRowFood({{food_res_id.res_id}})">Add</button></td>
      <td><button type="button" class="btn btn-success" onclick="updateOffer()">Update</button></td>
    </tr>
</table>
{% endblock %}
{% block pagescript %}
{% load static %}
<script src="{% static 'foodpanda/js/admin_2.js' %}"></script>
{% endblock %}
