{% extends 'foodpanda/base.html' %}
{% load static %}
{% block dbcontent %}
<div class="tableheader">
  <h1>LOCATION</h1>
</div>
<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th>LOC</th>
        <th>CITY</th>
        <th>ZIP CODE</th>
    </tr>
    {% for l in locations %}
       <tr>
           <td>{{l.longitude }} , {{l.latitude}}</td>
           <td>{{l.city }}</td>
           <td>{{l.zip_code }}</td>
       </tr>
    {% endfor %}

</table>
{% endblock %}
