{% extends 'foodpanda/base.html' %}
{% load static %}
{% block dbcontent %}
<div class="tableheader">
  <h1>PERSON</h1>
</div>

<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>GENDER</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>BIRTHDAY</th>
        <th>REGISTRATION DATE</th>
        <th>PROMO</th>
    </tr>
    {% for person in persons %}
       <tr>
           <td>{{person.person_id}}</td>
           <td>{{person.first_name }}</td>
           <td>{{person.last_name}}</td>
           <td>{{person.gender}}</td>
           <td>{{person.email}}</td>
           <td>{{person.phone}}</td>
           <td>{{person.birthdate}}</td>
           <td>{{person.regi_date}}</td>
           <td><button type="button" class="btn btn-success" onclick="addpromo({{person.person_id}})"><a href="{% url 'customer_promo' %}">Add Promo</a></button></td>
       </tr>
    {% endfor %}

</table>
{% endblock %}
{% block pagescript %}
{% load static %}
<script src="{% static 'foodpanda/js/seepersonpromo.js' %}"></script>
{% endblock %}
