{% extends 'foodpanda/base.html' %}
{% load static %}
{% block content %}
<div class="tableheader">
  <h1>PERSONS</h1>
</div>

<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>PHONE</th>
        <th>BIRTHDAY</th>
        <th>REGISTRATION DATE</th>
    </tr>
    {% for person in persons %}
       <tr>
           <td>{{person.person_id}}</td>
           <td>{{person.first_name }}</td>
           <td>{{person.last_name}}</td>
           <td>{{person.email}}</td>
           <td>{{person.password}}</td>
           <td>{{person.phone}}</td>
           <td>{{person.birthdate}}</td>
           <td>{{person.regi_date}}</td>
       </tr>
    {% endfor %}

</table>
{% endblock %}
