{% extends 'foodpanda/base.html' %}
{% load static %}
{% block dbcontent %}
<div class="tableheader">
  <h1>REVIEWS</h1>
</div>
<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th> RESTAURANT NAME</th>
        <th>RATING</th>
        <th>DESCRIPTION</th>
        <th>ORDER ID</th>
        <th>PERSON</th>
    </tr>
    {% for review in reviews %}
       <tr>
           <td>{{review.res_name}}</td>
           <td>{{review.rating }}</td>
           <td>{{review.description }}</td>
           <td>{{review.order_id}}</td>
           <td>{{review.person}}</td>
       </tr>
    {% endfor %}

</table>
{% endblock %}
