{% extends 'foodpandauth/base.html' %}
{% block content %}
{% load static %}
<div class="hero-content">
  <div class="searchContent">
    <form id="search-form" method="post">
      {% csrf_token %}
      <input type="text" class="searchbar" id="searchbox" name="searchbox" placeholder="Search Nearby Restaurants">
      <select class="search-select" name="res-filter" id="res-filter">
        <option value="restaurant">Restaurant</option>
        <option value="cuisine">Cuisine</option>
        <option value="price">Price</option>
      </select>
      <button type="submit"name="searchButton" class="searchButton">
        <img src="{% static 'homemodule/search.png' %}" width="40" height="40" alt="Search">
      </button><br>
    </form>
  </div>
  <!-- <div class="location">
    <span>Your current location is ({{address.latitude}},{{address.longitude}}) {{ address.region }}-{{ address.postal }}, {{ address.city }}, {{ address.country }}</span>
  </div> -->
  <div class="restaurants">
      <div class="row-box">
        {% for res in restaurant %}
        <div class="col-3">
            {% load static %}
            {% if res.image %}
            <img class="res-pic" src="{{res.image}}"alt="">
            {% else %}
            <img class="res-pic" src="{% static "foodpandauth/defaultres.jpg" %}" alt="">
            {% endif %}
            {% if res.rat %}
            <p id="res-name"><b>{{res.name}}</b><small>  ({{res.rat}})</small></p>
            {% else %}
            <p id="res-name"><b>{{res.name}}</b><small>  (0.0)</small></p>
            {% endif %}
            <!-- <p>{{res.name}}</p><p class="rat">({{res.rat}})</p> -->
            <small>Opens at: {{res.openning}}-->Closes at:{{res.closing}}</small>
            <form id="all_res" method="post">
              {% csrf_token %}
              <input type="hidden" name="res_name" value="{{res.name}}">
            <button type="submit" id="res_button">SEE</button>
            </form>
        </div>
        {% endfor %}
      </div>
    <!-- <table width="100%"  border="1">
        <tr style="background-color:lightgray">
            <th>NAME</th>
            <th>PHONE</th>
            <th>OPENNING</th>
            <th>CLOSING</th>
            <th>IMAGE</th>
        </tr>
        {% for res in restaurant %}
           <tr>
               <td><form id="all_res" method="post">
                 {% csrf_token %}
                 <input type="submit" name="res_name" value="{{res.name}}">
               </form></td>
               <td>{{res.phone }}</td>
               <td>{{res.openning }}</td>
               <td>{{res.closing }}</td>
               <td><img class="res-home-pic"src="{{res.image}}" alt="Res_image"></td>
           </tr>
        {% endfor %}

    </table> -->
  </div>
</div>
{% endblock %}
{% block homepagescript %}
{% load static %}
<script src="{% static 'homemodule/js/searchbox.js' %}"> </script>
{% endblock %}
