{% extends 'foodpandauth/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'homemodule/js/cartbox.js' %}"> </script>
{%if error %}
{{error}}
{% else %}
<div class="allfoods">
  <div class="foods">
    {% if dict_result  %}
    <div class="foodlist">
      <ul>
      {% for key,values in dict_result.items %}
        <li><h3>{{key}}</h3>
        {% for foods in values %}
        {% if foods.status %}
        <ul>
           <li><h3>{{foods.name}}</h3></li>
           <li>{{foods.price}}</li>
           <li>
             <button type="button" name="plus" class="plus"
               onclick="checkRes('{{foods.res_name}}',{{foods.id}},'{{foods.name}}',{{foods.price}})">
               Add To Cart
            </button>
           </li>
        </ul>
        {% endif %}
        {% endfor %}
        </li>
      {% endfor %}
      </ul>
    </div>
    {% else %}
    <h1>No Food Available</h1>
    {% endif %}
  </div>
  <div class="busket">
    <div id="showcart">
      <ol id="ol-cart-list" class="ol-cart-list">
        <div id="total-price" class="total-price"></div>
        <div id="res-check" class="res-check"></div>
      </ol>
    </div>
     <a href="{% url 'confirmOrder' %}" id="check-out" class= "button">Check Out</a>
    </div>

</div>
{% endif %}
{% endblock %}
