{% extends 'foodpandauth/base.html' %}
{% block content %}
{%if error %}
{{error}}
{% else %}
<div class="res-property">
  {% if res_pro %}
  <div class="single-res-pic">
      <img src="{{res_pro.image}}" alt="">
  </div>
  <div class="single-res-prop">
    <div class="name-des">
      <h1>{{res_pro.name}}<small><small><small><small>({{res_pro.rat}})</small></small></small></small></h1>
      {% if res_pro.offer %}
      <img src="static/homemodule/offer1.png" alt="Offer Running" width="50px" height="50px"><span>Running Offer</span>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
<div class="allfoods">
  <div class="foods">
    {% if dict_result  %}
    <div class="foodlist">
      <ul id="all-food-ul">
        {% for key,values in dict_result.items %}
        <li>
          <div class="cuisine">
            <h2>{{key}}</h2>
          </div>
           <ul>
             <li>
                <ul>
                  {% for foods in values %}
                     <li class="single-food">
                       <ul class="horizontal">
                           {% if foods.image %}
                             <li><img id="food-pic"src="{{foods.image}}" alt=""></li>
                           {% else %}
                             <li><img id="food-pic"src="static/homemodule/defaultres.jpg" alt=""></li>
                           {% endif %}
                         <li><b><span id="food-name">{{foods.name}}</span></b></li>
                         <li id = "info">
                            {% if foods.status %}
                               <span class="food-price"> <span id="normal-price">Normal Price:{{foods.price}}</span><br> Offer Price: {{foods.offer_price}}</span>
                            {% else %}
                               <span class="food-price">Price: {{foods.price}}</span>
                            {% endif %}
                            <br><button type="button" class="plus" id="plus"
                               onclick="checkRes('{{foods.res_name}}',{{foods.id}},'{{foods.name}}',{{foods.offer_price}})">
                               Add To Cart
                               </button>
                           </li>
                       </ul>
                     </li>
                  {% endfor %}
                </ul>
             </li>
           </ul>
        </li>
        {% endfor %}
        <li>
          <div class="cuisine">
            <h2>Reviews</h2>
            <div class="reviews">
              {% if reviews %}
                {% for r in reviews %}
                <div class="review">
                  <ul class="horizontal">
                    <li><b><span>{{r.name}}</span></b><small>({{r.rat}})</small><span><br></span></li>
                    <li><span>Coment:{{r.des}}</span></li>
                  </ul>
                </div>
                {% endfor %}
              {% endif %}
              <br><br>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {% else %}
    <h1>No Food Available</h1>
    {% endif %}
  </div>
</div>

<!-- <div class="busket">
  <div id="showcart">
    <ol id="ol-cart-list" class="ol-cart-list">
      <div id="total-price" class="total-price"></div>
      <div id="res-check" class="res-check"></div>
    </ol>
  </div>
   <a href="{% url 'confirmOrder' %}" id="check-out" class= "button">Check Out</a>
  </div> -->
{% endif %}
{% endblock %}

{% block homepagescript %}
{% load static %}
<script src="{% static 'homemodule/js/cartbox.js' %}"> </script>
{% endblock %}
