<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
</head>
<body>
<h1>FOODPANDA</h1>
<table width="100%"  border="1">
    <tr style="background-color:lightgray">
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
    </tr>
    {% for person in persons %}
       <tr>
           <td>{{person.person_id}}</td>
           <td>{{person.first_name }}</td>
           <td>{{person.last_name}}</td>
       </tr>
    {% endfor %}

</table>
</body>
</html>
